[submodule "vimrc"]
	path = vimrc
	url = https://github.com/vgod/vimrc.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "git-flow-completion"]
	path = git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion
[submodule "zsh-completions"]
	path = zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "oh-my-zsh-powerline-theme"]
	path = oh-my-zsh-powerline-theme
	url = https://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-sources/bundle/vim-sensible"]
	path = vim-sources/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim-sources/bundle/vim-airline"]
	path = vim-sources/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-sources/bundle/vim-startify"]
	path = vim-sources/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim-sources/bundle/vim-bufferline"]
	path = vim-sources/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
