[submodule "vim/vim-sources/bundle/vim-airline"]
	path = vim/vim-sources/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim-sources/bundle/vim-startify"]
	path = vim/vim-sources/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/vim-sources/bundle/vim-bufferline"]
	path = vim/vim-sources/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim/vim-sources/bundle/vim-sensible"]
	path = vim/vim-sources/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/vim-sources/bundle/vim-python-mode"]
	path = vim/vim-sources/bundle/vim-python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/vim-sources/bundle/vim-gitgutter"]
	path = vim/vim-sources/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "common/colors"]
	path = common/colors
	url = https://github.com/coolwanglu/guake-colors-solarized.git
[submodule "vim/vim-sources/bundle/vim-sintactic"]
	path = vim/vim-sources/bundle/vim-sintactic
	url = https://github.com/scrooloose/syntastic.git
[submodule "zsh/k"]
	path = zsh/k
	url = https://github.com/supercrabtree/k
[submodule "zsh/oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/oh-my-zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
