[submodule "vim/vim-sources/bundle/vim-airline"]
	path = vim/vim-sources/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim-sources/bundle/vim-startify"]
	path = vim/vim-sources/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/vim-sources/bundle/vim-bufferline"]
	path = vim/vim-sources/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim/vim-sources/bundle/vim-sensible"]
	path = vim/vim-sources/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/vim-sources/bundle/vim-python-mode"]
	path = vim/vim-sources/bundle/vim-python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/vim-sources/bundle/vim-gitgutter"]
	path = vim/vim-sources/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "common/colors"]
	path = common/colors
	url = https://github.com/coolwanglu/guake-colors-solarized.git
[submodule "vim/vim-sources/bundle/vim-sintactic"]
	path = vim/vim-sources/bundle/vim-sintactic
	url = https://github.com/scrooloose/syntastic.git
[submodule "zsh/k"]
	path = zsh/k
	url = https://github.com/supercrabtree/k
[submodule "zsh/oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/oh-my-zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim-sources/bundle/vim-commentary"]
	path = vim/vim-sources/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/vim-sources/bundle/vim-eunuch"]
	path = vim/vim-sources/bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/vim-sources/bundle/vim-fugitive"]
	path = vim/vim-sources/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim-sources/bundle/vim-surround"]
	path = vim/vim-sources/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim-sources/bundle/vim-repeat"]
	path = vim/vim-sources/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/vim-sources/bundle/vim-projectionist"]
	path = vim/vim-sources/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "vim/vim-sources/bundle/vim-signify"]
	path = vim/vim-sources/bundle/vim-signify
	url = git://github.com/mhinz/vim-signify.git
[submodule "vim/vim-sources/bundle/vim-tmuxline"]
	path = vim/vim-sources/bundle/vim-tmuxline
	url = git://github.com/edkolev/tmuxline.vim
[submodule "vim/vim-sources/bundle/vim-colors-solarized"]
	path = vim/vim-sources/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "zsh/oh-my-zsh/custom/plugins/laravel"]
	path = zsh/oh-my-zsh/custom/plugins/laravel
	url = https://github.com/shengyou/laravel-zsh-plugin.git
[submodule "common/marker"]
	path = common/marker
	url = https://github.com/pindexis/marker
[submodule "common/pomodoro"]
	path = common/pomodoro
	url = https://github.com/mrrrgn/pomodoro-sh.git
